
  <body>
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="container">
      <div class="row">
        <div class="col">
          <form [formGroup]="getServiceForm" (ngSubmit)="onSubmit()">
            <div class="notification">
              <p id="para">Enter your vehicle number in this format : TN 01 CB 1234</p>
              <p></p>
            </div>
            <!-- Email input -->
            <div class="form-outline mb-4 col-md-12">
              <input type="text" id="form1Example13" class="form-control form-control-lg" placeholder="Vehicle No" formControlName="vehicleNo" />
            </div>
            <div class="form-outline mb-4 col-md-12">
              <input type="text" id="form1Example13" class="form-control form-control-lg" placeholder="Owner name" formControlName="customer_name" />
            </div>
            <div class="submitbtn">
                <button type="submit" class="gradient-custom-2 loginBtn btn-danger">GET SERVICE</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>