<body>
    <app-header></app-header>
    <nav class="navbar justify-content-between">
        <div class="backToHome">
            <a href="/admin-home/:id" class="navbar-brand">
                <i class="fa fa-fw fa-home">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-house-door" viewBox="0 0 16 16">
                        <path
                            d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z" />
                    </svg>
                </i>
            </a>
        </div>
        <form class="form-inline">
            <div class="search">
                <input class="form-control mr-sm-2" type="search" [(ngModel)]="searchText"
                    placeholder="Search by Vehicle NO" aria-label="Search" name="searchText">
                <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="applyFilter()">Search</button> -->
            </div>
        </form>
    </nav>
    <div class="container">
        <table class="table-dark text-center table-bordered">
            <thead>
             
                    <!-- <th scope="col">Id</th> -->
                    <th scope="col">Vehicle No</th>
                    <th scope="col">Model</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Service Type</th>
                    <th scope="col">Status</th>
                    <th scope="col">Complaints</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
    
            </thead>
            <tbody>
                <tr *ngFor="let item of userData|searchService:searchText">
                    <!-- <th scope="row">{{item.id}}</th> -->
                    <td class="vehicleNo" (click)="details(item.id)">{{item.vehicleNo}}</td>
                    <td>{{item.model_name}}</td>
                    <td>{{item.customer_name}}</td>
                    <td>{{item.contact}}</td>
                    <td>{{item.service_type}}</td>
                    <td>{{item.status}}</td>
                    <td>{{item.radiobutton}}</td>
                    <td>
                        <div class="editbtn">
                            <svg (click)="editService(item.id)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                              </svg>
                        </div>
                    </td>
                    <td>
                        <div class="deletebtn">
                            <svg (click)="deleteService(item.id)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                              </svg>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="showErrorMessage">
        <app-no-data-found></app-no-data-found>
    </div>
    
</body>