
  body{
    margin: 0;
    width: 100%;
    background-color: black;
    height: fit-content;
    padding-top: 100px;
  }
  .text{
    margin-bottom: -30px !important;
    background-color: yellow;
    width: 300px;
    text-align: center;
  }
  .image{
    width: 200px;
    margin-top: 100px;
    margin-left: 47px;
  }
  .btn{
    margin-left: 314px;
  }  
  .blink {
    animation: blink 1s infinite; /* You can adjust the duration as needed */
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
.container{
display: flex;
justify-content: center;
}
.timeline-with-icons {
  border-left: 1px solid hsl(0, 0%, 90%);
  position: relative;
  list-style: none;
}

.timeline-with-icons .timeline-item {
  position: relative;
}

.timeline-with-icons .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline-with-icons .timeline-icon {
  position: absolute;
  left: -48px;
  background-color: hsl(217, 88.2%, 90%);
  color: hsl(217, 88.8%, 35.1%);
  border-radius: 50%;
  height: 31px;
  width: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
 body{
  width: 100%;
  position: fixed;
 }
 .text{
  width: 180px;
 }
 .image {
  width: 118px;
  margin-top: 49px;
  margin-left: 29px;
}
}