.logout-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

button {
  margin: 0 10px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

button {
  padding: 10px;
  font-size: 16px;
}

.heading {
  color: black;
  display: flex;
  justify-content: center;
}

.btn {
  display: inline-flex;
  display: flex;
  justify-content: center;
}

.logoutbtn {
  border-radius: 50%;
  background-color: black;
}

.bi {
  color: white;
}

.modal {
  width: 700px;
}

.username {
  position: absolute;
  color: white;
  margin-left: -70px;
  margin-top: 14px;
  font-style: italic;
}

// .logoutContainer {
//   display: flex;
//   flex-wrap: wrap;
// }

@media only screen and (max-width: 600px) {
  body{
  overflow: scroll;
  }
  .logoutbtn {
    border-radius: 50%;
    background-color: black;
    margin-top: -135px;
    margin-left: 226px;
    position: absolute;
  }
}