    body {
        background-color: black !important;
        width: auto;
        height: auto;
    }

    @media (min-width: 768px) {
        .gradient-form {
            height: 100vh !important;
        }
    }

    @media (min-width: 769px) {
        .gradient-custom-2 {
            border-top-right-radius: .3rem;
            border-bottom-right-radius: .3rem;
        }

        .gradient-custom-2 {
            width: 392px;
        }
    }

    .gradient-form {
        flex-wrap: wrap;
        width: auto;
        height: 100vh;
    }

    .card {
        background-color: black;
    }

    .text,
    .form-label {
        color: white;
    }

    .btn-danger {
        border: 1px solid #353b40;
        width: -webkit-fill-available;
    }

    .error-message {
        margin-left: 74px;
    }

    //material